@model IEnumerable<DoctorApplicationUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Admin Dashboard</h1>

<h2>Rollen</h2>
<div class="row cols-md">
    <div class="col-6 justify-content-center">
        <a class="btn btn-primary" asp-action="Roles">Beheer rollen</a>
    </div>
    <div class="col-6 justify-content-center">
        <a class="btn btn-primary" asp-action="UserRoles">Beheer gebruiker rollen</a>
    </div>
</div>

<hr/>

<h2>Lijst met dokters</h2>
<p>
    <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/RegisterDoctor" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Nieuwe hulpverlener</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Specialism)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialism)
            </td>
            <td>
                <a asp-action="DoctorDetails" asp-route-userId="@item.Id">Behandelingen</a> 
            </td>
        </tr>
}
    </tbody>
</table>

<hr/>

<h2>Lijst met cliënten</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Voornaam   
            </th>
            <th>
                Achternaam
            </th>
            <th>
                Email
            </th>
            <th>
                Dokter(s)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in ViewData["AllClients"] as List<ClientApplicationUser>)
{
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.FirstName
            </td>
            <td>
                @item.LastName
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @* @if(item.Treatments == null){<div> </div>}
                else{ *@
                    <div>@string.Join(", ", item.Treatments.Select(t => t.DoctorApplicationUser.Email))</div>
                @* } *@
            </td>
            <td>
                @if(item.LockoutEnabled){
                    <a class="btn btn-primary" asp-action="DeBlockClient" asp-route-userId="@item.Id">Deblokkeren</a>
                }
            </td>
        </tr>
}

    </tbody>
</table>

<hr/>

<h2>Meldingen</h2>
<table class="table">
    <thead>
        <th>
            Message Id
        </th>
        <th>
            Sender Id
        </th>
        <th>
            Message Content
        </th>
        <th>
            Aantal
        </th>
        <th>

        </th>
        
    </thead>
    <tbody>
@if(ViewBag.UnfinishedReports != null){
@foreach (var item in ViewBag.UnfinishedReports)
{
        <tr>
            <td>
                @item.MessageId
            </td>
            <td>
                @item.SenderId
            </td>
            <td>
                @item.Content
            </td>
            <td>
                @item.Aantal
            </td>
            <td>    
                @* <a class="btn btn-primary" asp-action="BlockUser" asp-route-id="@item.MessageReport.Message.SenderId">Blokkeren</a>                *@
                <a class="btn btn-primary" asp-action="BlockClient" asp-route-userId="@item.SenderId" asp-route-messageId="@item.MessageId">Blokkeren</a>    
            </td>
        </tr>
}
}


    </tbody>
</table>


@* UPDATE AspNetUsers
SET LockoutEnd = NULL
WHERE Id="12a9ae9d-c6fe-4b1f-9f7e-8523794b2962" *@