@page
@{

    ChatApplicationUser user = ViewBag.User as ChatApplicationUser ;

    string un = user.UserName as string ;
    string tun = ViewBag.TargetUsername as string ;
    string tfn = ViewBag.TargetFirstName as string ;
    List<Message> messages = ViewBag.Messages as List<Message> ;

}
    <div>
        <a asp-action="Chats">Terug naar chatlijst</a>
    </div>
    <p>
        U praat nu met: @tun
    </p>

    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul id="messagesList" class="list-group p-5">
                @foreach(Message message in messages){
                    @await Html.PartialAsync("MessagePartial", message);
                }
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-4"><input  value='@un' type="hidden" id="userInput" /></div>
            <div class="col-4"><input  value='@tun' type="hidden" id="targetInput" /></div>
        </div>
        <div class="row">
            <div class="col-2">Message</div>
            <div class="col-4"><input type="text" id="messageInput" /></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">
                <input type="button" id="sendButton" value="Send Message" />
            </div>
        </div>
    </div>

    <div class= "modal active">
        <div class="modal-body">
        </div>
    </div>  

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
<style>
    .list-group{
        max-height: 300px;
        margin-bottom: 10px;
        overflow:scroll;
        
        -webkit-overflow-scrolling: touch;
    }
</style>
<script>

    document.getElementById("sendButton").addEventListener("click", function (event) {
        var user = document.getElementById("userInput").value;
        var message = document.getElementById("messageInput").value;
        var receiver = document.getElementById("targetInput").value;
        connection.invoke("SendPrivateMessage", user, receiver ,message).catch(function (err) {
            return console.error(err.toString());
        });
        event.preventDefault();
        const url ="/Message/PersonalMessageCreate"
        const data = {"contentstring":message, "receiver":receiver, "sender":user}
        const header = {
            method: "POST",
            headers: {
            'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)      
        }
        fetch(url, header).then(r => {
            if(r.status != 201)
                throw "Status: " + r.status;
            else console.log(r)
        }).catch(e=>console.log(e))
    });

    connection.start().then(function () {
        document.getElementById("sendButton").disabled = false;
    }).catch(function (err) {
        return console.error(err.toString());
    });

    function report(id) {
        var url = "/Message/Report/"+id;
        fetch(url).then(r => {
            if(r.status != 201)
                throw "Status: " + r.status;
            else console.log(r)
        }).catch(e=>console.log(e))
    }

    window.onload=()=>{
        var element = document.getElementById("messagesList");
        element.scrollTop = element.scrollHeight;
        connection.on("ReceivePrivateMessage", function (user, message){
            if (user=="@un"||user=="@tun"){
                var li = document.createElement("li");
                var p = document.createElement("p");
                li.appendChild(p);
                var button = document.createElement("button");
                li.appendChild(button);
                var i = document.createElement("i");
                button.appendChild(i);

                var naam = "";
                if (user=="@un"){
                    naam="@user.FirstName"
                }else{
                    naam = "@tfn";
                }
                p.textContent = `${naam} zei om @DateTime.Now: "${message}" `;
                li.classList.add("d-flex","align-items-center","justify-content-between");
                p.classList.add("list-group-item","m-2","w-75");
                button.classList.add("report","flex-end","align-items-center","btn","text-primary");
                i.classList.add("fa-solid","fa-triangle-exclamation");

                document.getElementById("messagesList").appendChild(li);
                element.scrollTop = element.scrollHeight;            
            }

        });
        
    }
    
</script>