@model ClientApplicationUser
<h3>@Model.FirstName @Model.LastName</h3>
@if(Model == null){
    <div>Geen Client gevonden</div>
}
else{
    
    @if(ViewData["SortedMessages"] == null){
        <div>Geen berichten gevonden</div>
    }
    else{      
        <table>
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Messages.First().DateTime)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Messages.First().SupportGroup.Name)
                    </th>
                </tr>
            </thead>
        
            <tbody>
@foreach (var item in ViewData["SortedMessages"] as List<Message>){
                <tr>
                    <td>
                        @item.DateTime
                    </td>
                    <td>
                        @item.SupportGroup.Name
                    </td>
                </tr>
    }
            </tbody>
        </table>
    }
}