@model OkOk.Models.SignUpRequest
@{
    ViewData["Title"] = "Aanmeldverzoek";
    Layout = "_DoctorLayout";
}

<header>
    <div class="m-0 p-0 row gx-xl-3 gx-2">
        <div class="col-12">
            <h1 class="text-dark fs-3">
                Je bekijkt nu het aanmeldverzoek van @Html.DisplayFor(modelItem => modelItem.ClientApplicationUser.FirstName) @Html.DisplayFor(modelItem => modelItem.ClientApplicationUser.LastName)
            </h1>
        </div>
        <a title="Keer terug naar het overzicht" class="fs-6 fw-normal" asp-action="Index">Terugkeren naar het overzicht</a>
    </div>
</header>

<div class="container-fluid py-2 m-0 p-0 text-dark">
    <h1 class="visually-hidden">Acties Uitvoeren</h1>
    <div class="row m-0 p-0 g-xl-3 g-2 d-flex align-items-start align-content-start">
        <div class="col-12 mt-0">
            <div class="row m-0 p-0">
                <div class="col-12 py-3 px-0 d-flex justify-content-between">
                    <div class="d-flex align-items-end align-content-end m-0 p-0">
                        <h2 class="fs-4 m-0">Cliëntgegevens</h2>
                    </div>
                    <div class="d-flex align-items-end align-content-end m-0 p-0">
                        <a class="text-decoration-none text-secondary fs-6" asp-area="Identity" asp-page="/Account/RegisterChild">Registreer een kind <i class="fa-regular fa-angle-right"></i></a>
                    </div>
                </div>

                <div class="col-12 okok-rounded bg-opac p-3 px-0">
                    <div class="row m-0 p-2 px-3">
                                <h3 class="fs-5 px-0">
                                    @Html.DisplayFor(modelItem => modelItem.ClientApplicationUser.FirstName) 
                                    @Html.DisplayFor(modelItem => modelItem.ClientApplicationUser.LastName)
                                </h3>
                        <div class="col-4 px-0">
                            <h4 class="fs-6 fw-normal text-muted">
                                @Html.DisplayFor(modelItem => modelItem.ClientApplicationUser.Email)
                            </h4>
                        </div>
                        <div class="col-4 px-0 d-flex">
                            <h4 class="fs-6 fw-normal text-muted">
                                @Html.DisplayFor(modelItem => modelItem.ClientApplicationUser.PhoneNumber)
                            </h4>
                        </div>
                        <div class="col-4 px-0 d-flex">
                            <h4 class="fs-6 fw-normal text-muted">
                                @{var ageGroup = Model.ClientApplicationUser.OldEnough ? "16 jaar of ouder" : "Jonger dan 16 jaar";} @ageGroup
                            </h4>
                        </div>
                        <div class="col-12 mt-4 px-0">
                            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#grantAccessWarning">
                                Toegang verlenen
                            </button>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#denyAccessWarning">
                                Toegang weigeren
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal grantAccessWarning -->
<form asp-action="grantAccess" asp-route-id="@Model.Id" method="post">
<div class="modal fade" id="grantAccessWarning" tabindex="-1" aria-labelledby="grantAccessLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="grantAccessLabel">Toegang Verlenen</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        <div class="modal-body">
            <div class="row m-0 p-0">
                <div class="col-12">
                    <p>
                        <strong class="text-danger">Weet je zeker dat je deze cliënt toegang wilt verlenen?</strong>
                        <br>
                        Met het verlenen van toegang krijgt de cliënt weer toegang tot zijn/haar account.
                        Deze actie is onomkeerbaar en de cliënt krijgt toegang tot de applicatie en wordt bij je
                        ingeroosterd.
                        @if(!Model.ClientApplicationUser.OldEnough)
                        {
                            <br>
                            <br>
                            <strong class="text-danger">Let op!</strong>
                            <br>
                            @Html.Raw("Deze cliënt is niet oud genoeg om zijn eigen account te maken. Hiervoor moet er dus een ouder/voogd account aangemaakt worden.");
                        }
                    </p>
                </div>
            </div>
        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Sluiten</button>
                @if(!Model.ClientApplicationUser.OldEnough)
                {
                    <button type="submit" class="btn btn-primary">Ouderaccount aanmaken</button>
                }
                else
                {
                    <button type="submit" class="btn btn-success">Toegang Verlenen</button>
                }
            </div>
        </div>
    </div>
</div>
</form>

<!-- Modal denyAccessWarning -->
<form asp-action="denyAccess" asp-route-id="@Model.Id" method="post">
<div class="modal fade" id="denyAccessWarning" tabindex="-1" aria-labelledby="denyAccessLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="denyAccessLabel">Toegang Weigeren</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        <div class="modal-body">
            <div class="row m-0 p-0">
                <div class="col-12">
                    <p>
                        <strong class="text-danger">Weet je zeker dat je deze cliënt toegang wilt weigeren?</strong>
                        <br>
                        Met het weigeren van toegang wordt deze cliënt uit het systeem verwijdered. Deze actie is onomkeerbaar
                        en de cliënt zal helemaal geen toegang meer hebben tot zijn/haar account.
                    </p>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Sluiten</button>
                <button type="submit" class="btn btn-success">Toegang Weigeren</button>
            </div>
        </div>
    </div>
</div>
</form>