@model OkOk.Models.Identity.ClientApplicationUser
@{
    ViewData["Title"] = "Ouderoverzicht";
}

<div class="container">
    <h1>
        @Html.DisplayFor(modelItem => modelItem.FirstName) 
        @Html.DisplayFor(modelItem => modelItem.LastName)
    </h1>

    <a asp-action="Index" class="btn btn-primary" >Terug</a>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Datum
                </th>
                <th>
                    Aantal berichten
                </th>
            </tr> 
        </thead>
        
        <tbody>
        @foreach (var item in Model.Sent.GroupBy(message => message.DateTime.Date)
                                            .Select(group => new{day = group.Key, amount = group.Count()})
                                            .ToList())
{
            <tr>
                <td>
                    @item.day.ToString("dddd dd MMMM yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.amount)
                </td>
            </tr>
}

        </tbody>
    </table>
</div>
@* @if(Model == null){
    <div>Geen Client gevonden</div>
}
else{
    
    @if(ViewData["SortedMessages"] == null){
        <div>Geen berichten gevonden</div>
    }
    else{      
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Messages.First().DateTime)
                    </th>
                    
                </tr>
            </thead>
        
            <tbody>
@foreach (var item in ViewData["SortedMessages"] as List<Message>){
                <tr>
                    <td>
                        @item.DateTime
                    </td>           
                </tr>
    }
            </tbody>
        </table>

        <table class="table">
        <thead>
            <tr>
                <th>
                    Datum
                </th>
                <th>
                    Aantal berichten
                </th>
            </tr> 
        </thead>
@foreach (var item in Model.Received.GroupBy(m => m.DateTime.Date).Select(g => new{dag = g.Key, aantal = g.Count()}).ToList() )
{
        <tbody>
            <tr>
                <td>
                    @item.dag.ToString().Split().First()
                </td>
                <td>
                    @item.aantal
                </td>
            </tr>
        </tbody>
}
    </table>
    }
    
} *@
